<%- include ../partial/head.ejs %>

<%- include ../partial/main_nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/feedback.png">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
  </head>
  <body>




    <h1><%= title %></h1>
    
    
  
  <div class="container">
  <% if(typeof displayName == 'string' && displayName) {%>
    <p>FORM FOR FEEDBACK</p>
  
    <form method="POST" autocomplete="off">
        <label for="fname">Your First name: </label>
        <input type="text" id="fname" placeholder="First name" name="fname" required>
        <br>
        <br>
        <label for="lname">Your Last name: </label>
        <input type="text" id="lname" placeholder="Last name" name="lname" required>
        <br>
        <br>
        <label for="feedback">Your feedback: </label>
        <input type="text" id="feedback" placeholder="Enter your feedback" name="feedback" required>
        <br>
        <br>
        <label for="stars">Stars:</label>
        <input type="number" placeholder="Enter password" id="stars" name="stars" required>
        <br>
        <br>




        
        <input type="submit" class="button-24" value="Submit Feedback">

        
        <a href="/settings">
          <input type="button" class="button-24" value="Settings">
        </a>
    </form>
  
    <button class="button-24"><a href="/sign_in">Log Out</a></button>
    <% } else { %>
      <div class="warning">Please register or sign in!</div>
      <% } %>

  </div>

  <style>
.container{
  margin-top:50px;
  padding: 25px;
  background-color: #fff;
  height: 350px;
  border-radius: 25px;
  width: 500px;
}

.warning{
  padding: 115;
  text-transform: capitalize;
font-size: large;
padding-top: 130px;
}

h1{
  color: white;
  text-align: center;
}
label{
    display: inline-block;
    width: 250px;
    text-align: left; /*Change to right here if you want it close to the inputs*/
}
input {
  display: inline-block;
}

.button-24 {
  background: black;
  border: 1px solid #ffffff;
  border-radius: 4.5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 12px;
  font-weight: 60000;
  line-height: 12px;
  min-height: 30px;
  outline: 0;
  padding: 6px 7px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #000000;
  text-decoration: none;

}

.button-24:active {
  opacity: .5;
  text-decoration: none;

}

  </style>
  </body>
</html>

<%- include ../partial/bottom_nav.ejs %>  