<%- include partial/head.ejs %>

<%- include partial/main_nav.ejs %>


<!--main content-->
<main class="container">
  <div class="jumbotron">
    
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <h1 class="display-4">Welcome to <%= title %></h1>
  </div>
</main>


<%- include partial/bottom_nav.ejs %>  

<%- include partial/footer.ejs %>
