<%- include partial/head.ejs %>

<%- include partial/main_nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <p>Welcome to <%= title %></p>


    <p>Prof Rate</p>
    

  </body>
</html>

<%- include partial/bottom_nav.ejs %>  

<%- include partial/footer.ejs %>