  <%- include partial/head.ejs %>

  <%- include partial/main_nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <p>Welcome to <%= title %></p>

    <label>Username:</label>
    <br>
    <label>Password:</label>
    <br>
    <button><a href="/account">Log in</a></button>
    <button><a href="/signup">Sign up</a></button>
  </body>
</html>

<%- include partial/bottom_nav.ejs %>  

<%- include partial/footer.ejs %>