  <%- include partial/head.ejs %>

  <%- include partial/main_nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
  </head>
  <body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
<div class="container">
      <div>
        <form method="POST" autocomplete="off">
          <label for="username">Username: </label>
          <input type="text" id="username" placeholder="Enter username" name="username" required>
          <br>
          <label for="password">Password:</label>
          <input type="password" placeholder="Enter password" id="password" name="password" required>
          <br>
          <input type="submit" class="button-24" value="Login">
        </form>
     </div>

    <div>
      <button class="button-24" role="button"><a href="/signup">Sign up</a></button>
    </div>
</div>
  </body>
</html>

<%- include partial/bottom_nav.ejs %>  

<%- include partial/footer.ejs %>