<%- include partial/head.ejs %>

<%- include partial/main_nav.ejs %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>


    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--For feedbacks table style-->
    <link rel='stylesheet' href='/stylesheets/studfeeds.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
  <body>
    <h1><%= title %></h1>
    
    <table class="table table-striped table-hover rounded-circle">
      <!-- Header Row-->
      <tr class="d-flex">
          <th class="text-center col-3">Professor</th>
          <th class="text-center col-3">Student</th>
          <th class="text-center col-5">Student's feedback</th>
          <th class="text-center col-1">Star</th>
      </tr>
      

      <!-- Repeatable Template Row -->


  </table>

<!--//////////////////////////////////////////////////// Retrieving Students Feedbacks-->
  <div id="servcont">
    <div id="dexper">
        <h1 id="hexper">Feedbacks:</h1>
    </div>
    <div id="inserv">
     <table class="mtable">
         <thead>
             <tr>
                 <th>FirstName</th>
                 <th>LastName</th>
                 <th>Feedback</th>
                 <th>Stars</th>
                 <th>Comments</th>
             </tr>
         </thead>
             <tbody>
                 <% for (let count = 0; count < Feedbacks.length; count++) { %>
                     <tr>
                        <td><%= Feedbacks[count].FirstName %></td>
                        <td><%= Feedbacks[count].LastName %></td>
                        <td><%= Feedbacks[count].Stars %></td>
                        <td><%= Feedbacks[count].Comments %></td>
                     </tr>
                 <% } %>
             </tbody>
        </table>
    </div>
</div>   
<!--////////////////////////////////////////////////////-->


<style>

.d-flex{
  border-radius: 25px;
  overflow: hidden;
  margin-top:20px;

}
h1{
  color: white;
  text-align: center;
}



</style>

  </body>
</html>

